:root {
    --baby-powder: #FAFAFA;
    --gray-web: #7A7A7A;
    --downy: #74c8d5;
    --half-baked: #83b7cf;
    --pewter-blue: #799CAC;
    --cadet: #4F6A74;
    --outer-space-crayola: #24373C;
    --bar-width: 30px;
    --bar-height: 30px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    color: var(--outer-space-crayola);
    font-family: 'Raleway', sans-serif;
    line-height: 1.7;
    margin: 0;
    min-width: 320px;
}

header {
    padding: 12% 0;
    text-align: center;
}

section {
    background-color: var(--cadet);
    min-height: 200px;
    padding: 6% 0;
}
section:nth-child(odd) {
    background-color: var(--baby-powder);
}

section h2 {
    color: white;
}
section:nth-child(odd) h2 {
    color: var(--cadet);
}

footer {
    background-color: var(--cadet);
    color: var(--baby-powder);
    padding: 1% 0;
    text-align: center;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.text-black {
    color: black;
}

.text-bright {
    color: #D7EAF2;
}

.text-pewter {
    color: var(--pewter-blue);
}

.text-downy {
    color: var(--downy);
}

.text-white {
    color: white;
}

.text-cadet {
    color: var(--cadet);
}

/*------------------ NAV BAR ------------------*/
.menu-wrapper {
    color: black;
    cursor: pointer;
    position: fixed;
    height: var(--bar-height);
    margin: auto auto auto 10px;
    top: 25px;
    left: 10px;
    width: var(--bar-width);
    z-index: 1;
}

nav .nav-items-wrapper {
    background-color: white;
    box-shadow: 0 1px 6px rgba(0,0,0,.35);
    min-height: 100%;
    position: fixed;
    transform: translateX(-250px);
    width: 250px;
}

nav .nav-items-wrapper .nav-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 70px;
    padding: 0;
}

nav .nav-items-wrapper .nav-items .nav-link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
}

nav .nav-items-wrapper .nav-items .nav-link:hover {
    border-bottom: 4px solid var(--pewter-blue);
}

nav .nav-items-wrapper .nav-items .nav-link a {
    text-transform: uppercase;
}

nav .nav-items-wrapper .nav-items .nav-link:hover a {
    color: var(--pewter-blue);
}

nav .nav-items-wrapper .social i {
    cursor: pointer;
    margin-right: 10px;
}

nav .nav-items-wrapper .social i:hover {
    color: var(--downy);
}

.menu-active {
    transform: translateX(0) !important;
}

.quick-nav {
    transition: height 0s ease;
}

/*------------------ HOME ------------------*/
#Home {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('./images/background.jpg') no-repeat fixed center center / cover;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}


.home .home-title {
    color: var(--downy);
    font-size: 3rem;
    margin-bottom: 0;
}

.home .home-headline {
    color: var(--baby-powder);
    margin: 0 auto;
    width: 80%;
}

.home .home-arrow i {
    color: var(--baby-powder);
    cursor: pointer;
    font-size: 2rem;
}

.home .hire-button {
    background-color: var(--half-baked);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 20px auto;
    padding: 10px;
    text-transform: uppercase;
    width: 100px;
}

.home .hire-button:hover {
    background-color: var(--downy);
}

.home .hire-button a {
    font-weight: bolder;
}

/*---------------- ABOUT ME ----------------*/
#About {
    padding: 0 20px;
}

.about-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.about-content {
    margin: 0 auto;
    width: 80%;
}

.about-me .about-headshot {
    margin: 0 auto;
    width: 200px;
}
.about-me .about-headshot img {
    border: 8px solid #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
}

.about-me .about-info h3 {
    color: var(--cadet);
}

.about-me .about-info p {
    border-bottom: 1px solid #fff;
}

.about-me .about-info p span {
    display: inline-block;
    min-width: 70px;
}

.about-me .about-social ul {
    list-style: none;
    padding: 0;
}

.about-me .about-social ul li {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    display: inline-block;
    height: 37px;
    width: 37px;
    margin: 5px;
    padding:10px;
}

.about-me .about-social ul li:hover {
    background-color: var(--pewter-blue);
}

.about-me .about-social ul li a {
    color: #000;
    display: flex;
    justify-content: center;
}

/*---------------- PORTFOLIO ----------------*/
#Portfolio {
    padding: 0 20px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.portfolio .portfolio-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

.portfolio .portfolio-item {
    margin-bottom: 3rem;
}

.portfolio .portfolio-header, .portfolio .portfolio-desc {
    color: var(--baby-powder);
}

.portfolio .portfolio-image {
    border: 5px solid white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    line-height: 0;
    background-color: var(--baby-powder);
}
.portfolio .portfolio-image img {
    width: 100%;
}

.portfolio .portfolio-item .portfolio-header h4 {
    margin-bottom: 5px;
}

.portfolio .portfolio-item .portfolio-header p {
    font-size: 0.8rem;
    margin: 0;
}

/*---------------- RESUME ----------------*/
#Resume {
    padding: 0 20px;
}

.resume-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.resume .resume-download {
    margin-bottom: 10px;
}

.resume h2 {
    margin-bottom: 0;
}

.resume h3 {
    color: var(--cadet);
}

.experience-container, .education-container {
    display: flex;
    flex-direction: column;
}

.resume .experience-container ul, .resume .education-container ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

.resume .resume-item {
    background-color: white;
    margin-bottom: 3rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 20px auto;
}

.resume .resume-item .resume-dates {
    padding: 10px;
    font-size: smaller;
}

.resume .resume-item .resume-image img {
    border-bottom: 1px solid #e2dada;
    border-top: 1px solid #e2dada;
    width: 100%;
}

.resume .resume-item .resume-content p.resume-info {
    margin: 0;
    padding: 0 10px 10px 10px;
    color: var(--cadet);
    font-weight: 900;
}

.resume .resume-item .resume-content p.resume-location {
    font-size: smaller;
    padding: 0 10px 10px 10px;
    margin: 0;
}

/*---------------- FOOTER ----------------*/
footer .footer-social a {
    margin: 0 3px;
}

footer .footer-social a:hover {
    cursor: pointer;
    color: var(--downy);
}

footer .footer-name p {
    font-size: 0.5rem;
    margin: 0;
}

/* ------- TABLETS -------- */
@media (min-width: 600px) {
    #About, #Portfolio, #Resume {
        padding: 0 40px;
    }
    .about-me .about-content {
        display: flex;
        flex-flow: row wrap;
    }
    .about-me .about-content .about-bio {
        width: 100%;
    }
    .about-me .about-content .about-headshot {
        width: 40%;
    }
    .about-me .about-content .about-info {
        width: 50%;
    }

    .portfolio .portfolio-container .portfolio-list {
        display: flex;
        flex-direction: column;
    }
    .portfolio .portfolio-list .portfolio-item {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }
    .portfolio .portfolio-list .portfolio-item .image-container {
        width: 30%;
    }
    .portfolio .portfolio-list .portfolio-item .portfolio-header {
        margin-left: 21px;
        width: 50%;
    }
    .portfolio .portfolio-item .portfolio-header h3 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .portfolio .portfolio-item .portfolio-header h4 {
        margin-top: 0;
    }
    .portfolio .portfolio-list .portfolio-item .portfolio-desc {
        width: 100%;
    }

    .resume .experience-list, .resume .education-list {
        display: flex;
        flex-flow: row wrap;
    }
    .resume .resume-container .resume-item {
        width: 45%;
    }
} 

/* ------- DESKTOP/LARGE DEVICE -------- */
@media (min-width: 768px) {
    html {
        font-size: 1.3rem;
    }

    .menu-wrapper {
        display: none;
    }

    nav .nav-items-wrapper {
        transform: none;
        min-height: 5vh;
        width: 100%;
    }

    nav .nav-items-wrapper .nav-items {
        flex-direction: row;
        margin: 0;
    }

    
    nav .nav-items-wrapper .nav-items .nav-link {
        padding: 12px 30px;
    }
    nav .nav-items .nav-link:hover {
        border-bottom: 4px solid var(--pewter-blue);

    }
    nav .nav-social i {
        padding: 20px 8px 0px 5px;
    }

    #About, #Portfolio, #Resume {
        padding: 60px 0;
    }

    .about-container, .portfolio-container, .resume-container {
        padding: 0 40px;
    }
    .about-content {
        display: flex;
        flex-flow: row wrap;
    }
    .about-me .about-bio, .about-me .about-info {
        width: 100%;
    }
    .about-me .about-headshot {
        display: flex;
        justify-content: flex-end;
        max-width: 300px;
        width: 40%;
    }
    .about-me .about-headshot .picture {
        width: 70%;
    }
    .about-me .about-info {
        width: 50%;
    }

    .portfolio .portfolio-container .portfolio-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: start;
    }

    .portfolio .portfolio-container .portfolio-list .portfolio-item {
        width: 45%;
    }

    .portfolio .portfolio-container .portfolio-item .image-container {
        width: 40%;
    }

    .portfolio .portfolio-container .portfolio-item .portfolio-desc .desc {
        margin: 15px 0;
    }


    .resume ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .portfolio .portfolio-item {
        width: 45%;
    }

    .resume .resume-item {
        width: 23%;
    }
}

/* ------- LARGER DEVICE -------- */
@media (min-width: 1025px) {
    .resume .resume-container .resume-item {
        width: 23%;
    }
}