@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Livvic:400,600&display=swap');

* {
  box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    line-height: 1.5;
}

header {
    padding: 12% 0;
    text-align: center;
}

section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
}

section:nth-child(even) {
    background-color: #ddd;
}

footer {
    padding: 1% 0;
    background-color: #aaa;
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.text-black {
    color: black;
}


/*-------------------- navbar -------------------- */
nav {
    padding: 0 2rem;
    background: #aaa;
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    height: 0rem;
    min-height: 8vh;
    overflow-y: hidden;
    transition: height 1s ease;
    z-index: 10;
}

nav .nav-home a {
    display: block;
    padding: 1rem 0;
    font-family: 'Arial';
    font-size: 1.6rem;
}

nav .nav-items {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}

nav .nav-items .nav-link {
    padding: 1.3rem 1rem;
    font-family: 'Arial';
    font-size: 1.1rem;
}

nav .nav-items .nav-link:hover {
    background: white;
}

nav .nav-items .nav-link:hover a {
    color: black;
}

nav .social {
    padding: 1.3rem 0;
}

nav .social i {
    padding: 0 0.2rem;
}

nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 100%;
    cursor: pointer;
    display: none;
}

nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.4rem 4rem;
}

nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
}

.collapse {
    height: 30rem;
}

.toggle-click, .toggle-click::before, .toggle-click::after {
    width: 20px;
}


/*------------------ Home ------------------------*/
#Home {
    padding-top: 80px;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Home .home-title {
    margin-bottom: 40px;
    text-transform: uppercase;
}

button {
    text-transform: uppercase;
    padding: 15px;
    width: 200px;
    margin: 0 auto;
}

/*------------------ About Me ------------------------*/
#About {
    padding-right: 20px;
    padding-left: 20px;
}
.about-container {
    padding: 0 30px;
}
.about-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 15px;
}



.aboutme {
    padding: 10px;
    width: 33%;
}

.about-headshot {
    text-align: center;
}


/*------------------ Portfolio ------------------------*/
#Portfolio {
    padding-left: 20px;
    padding-right: 20px;
}

.portfolio-container {
    padding: 0 30px;
}
.portfolio-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 15px;
}

.portfolio-item {
    list-style: none;
    width: 300px;
    margin: 20px;
}


/*------------------ Resume ------------------------*/
#Resume {
    padding-left: 20px;
    padding-right: 20px;
}

.resume-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.experience-container ul, .education-container ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.resume-item {
    list-style: none;
    width: 300px;
    margin: 20px;
    background-color: rgb(167, 162, 162);
}

.resume-dates {
    border-bottom: 1px solid #eee;
    line-height: 1.7;
    padding: 15px 20px;
}

.resume-image img {
    width: 100%;
    height: auto;
}

.resume-content {
    padding: 9px 20px;
}

.resume-content span {
    font-size: 1.3rem;
}



@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column !important;
        display: block !important;
    }
    
    nav .nav-items {
        flex-direction: column;
    }

    nav .toggle-collapse {
        display: initial;
    }

    .about-content {
        flex-direction: column;
    }
    .aboutme {
        width: auto;
    }
}