* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    color: #444;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    margin: 0;
}

header {
    padding: 12% 0;
    text-align: center;
}

section {
    background-color: #bbb;
    min-height: 200px;
    padding: 6% 0;
}

section:nth-child(even) {
    background-color: #ddd;
}

footer {
    background-color: #aaa;
    padding: 1% 0;
    text-align: center;
}

a {
    text-decoration: none;
}

.text-black {
    color: black;
}

/*------------------ NAV BAR ------------------*/
nav {
    background: #aaa;
    display: block;
    height: 0rem;
    min-height: 40px;;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    overflow-y: hidden;
    transition: height 1s ease;
    width: 100%;
    z-index: 10;
}

nav .nav-home a {
    display: block;
    font-size: 1.2rem;
    padding: 1rem 0;
}

nav .toggle-collapse {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
}

nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.4rem 4rem;
}

nav .toggle-collapse .toggle-icons i {
    font-size: 1.5rem;
}

nav .nav-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav .nav-items .nav-link {
    padding: 0.4rem 0;
}

nav .nav-items .nav-link:hover {
    background: #fff;
}

nav .nav-items .nav-link:hover a {
    color: black;
}

nav .social i {
    padding: 1rem 0.2rem;
}

.collapse {
    height: 15rem;
}

.quick-nav {
    transition: height 0s ease;
}

/*------------------ HOME ------------------*/
#Home {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

#Home .home-title, #Home button {
    text-transform: uppercase;
}

#Home .home-title {
    font-size: 3rem;
}

button {
    margin: 0 auto;
    padding: 10px;
    border-radius: 2px;
}

/*---------------- ABOUT ME ----------------*/
#About {
    padding: 0 20px;
}

.about-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.about-me .about-headshot {
    margin: 0 auto;
    width: 80%;
}
.about-me .about-headshot img {
    border: 8px solid #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
}

.about-me .about-info p {
    border-bottom: 1px solid #fff;
}

.about-me .about-info p span {
    display: inline-block;
    min-width: 70px;
}

.about-me .about-social ul {
    list-style: none;
    padding: 0;
}

.about-me .about-social ul li {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    display: inline-block;
    height: 37px;
    width: 37px;
    margin: 5px;
    padding:10px;
    text-align: center;
    vertical-align: middle;
}

.about-me .about-social ul li a {
    color: #000;
}

/*---------------- PORTFOLIO ----------------*/
#Portfolio {
    padding: 0 20px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.portfolio ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

.portfolio .portfolio-item {
    margin-bottom: 3rem;
}

.portfolio .portfolio-image {
    border: 5px solid white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.portfolio .portfolio-image img {
    width: 100%;
}

.portfolio .portfolio-content p {
    margin: 0;
}

/*---------------- RESUME ----------------*/
#Resume {
    padding: 0 20px;
}

.resume-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.experience-container, .education-container {
    display: flex;
    flex-direction: column;
}

.resume .experience-container ul, .resume .education-container ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

.resume .resume-item {
    background-color: white;
    margin-bottom: 3rem;
}

.resume .resume-item .resume-dates {
    padding: 10px;
}

.resume .resume-item .resume-image img {
    width: 100%;
}

.resume .resume-item span {
    padding: 10px;
}

.resume .resume-content p {
    padding: 0 10px 10px 10px;
}


/* ------- TABLETS -------- */
@media (min-width: 600px) and (max-width: 767) {
    #About, #Portfolio, #Resume {
        padding: 0 40px;
    }
    .about-me .about-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-me .about-content .about-headshot {
        width: 50%;
        max-width: 300px;
    }

    .about-me .about-content .about-info {
        width: 50%;
        max-width: 300px;
    }
} 

/* ------- DESKTOP -------- */
@media (min-width: 768px) {
    html {
        font-size: 1.3rem;
    }

    nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        height: fit-content;
    }

    nav .nav-home a {
        padding: 10px;
    }
    
    nav .nav-items {
        display: flex;
        flex-direction: row;
    }

    nav .nav-items .nav-link {
        padding: 12px 30px;
    }

    nav .nav-items .nav-link:hover {
        background: transparent;
        border-bottom: 4px solid black;
    }

    nav .nav-social i {
        padding: 20px 8px 0px 5px;
    }
    nav .toggle-collapse {
        display: none;
    }

    header .home-title {
        font-size: 4.5rem;
    }

    #About, #Portfolio, #Resume {
        padding: 60px 0;
    }

    #About {
        height: 80vh;
    }

    .about-container, .portfolio-container, .resume-container {
        padding: 0 40px;
    }
    .about-content {
        display: flex;
    }

    .about-me .about-bio, .about-me .about-headshot, .about-me .about-info {
        width: 30%;
    }

    .portfolio ul, .resume ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .portfolio .portfolio-item, .resume .resume-item {
        width: 23%;
    }

}
